In [2]:
import pandas as pd

files = ['TN118.VOL',
         'TN218.VOL',
         'TN318.VOL',
         'TN418.VOL',
         'TN518.VOL',
         'TN618.VOL',
         'TN718.VOL',
         'TN818.VOL',
         'TN918.VOL',
         'TN1018.VOL',
         'TN1118.VOL',
         'TN1218.VOL',
         'TN119.VOL',
         'TN219.VOL',
         'TN319.VOL',
         'TN419.VOL',
         'TN519.VOL',
         'TN619.VOL',
         'TN719.VOL',
         'TN819.VOL',
         'TN919.VOL',
         'TN1019.VOL',
         'TN1119.VOL',
         'TN1219.VOL',
         'TN120.VOL',
         'TN220.VOL',
         'TN320.VOL',
         'TN420.VOL',
         'TN520.VOL',
         'TN620.VOL',
         'TN720.VOL',
         'TN820.VOL',
         'TN920.VOL',
         'TN1020.VOL',
         'TN1120.VOL',
         'TN1220.VOL']

fwf_list = []

# Loop over the files
for file in files:

    x = pd.read_fwf(file,
                         widths=[1,2,2,6,1,1,2,2,2,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1],
                         ignore_index = True)

    
    x.columns = ['record_type',
                  'state_code',
                  'f_system',
                  'station_id', 
                  'travel_dir',
                  'travel_lane',
                  'year_record',
                  'month_record',
                  'day_record',
                  'day_of_week',
                  'hour_00', 
                  'hour_01', 
                  'hour_02', 
                  'hour_03', 
                  'hour_04',
                  'hour_05',
                  'hour_06', 
                  'hour_07',
                  'hour_08',
                  'hour_09',
                  'hour_10',
                  'hour_11',
                  'hour_12',
                  'hour_13',
                  'hour_14',
                  'hour_15',
                  'hour_16',
                  'hour_17',
                  'hour_18',
                  'hour_19',
                  'hour_20',
                  'hour_21',
                  'hour_22',
                  'hour_23',
                  'restrictions']
    fwf_list.append(x)
    
fwf_df = pd.concat(fwf_list)

In [3]:
fwf_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,2U,5,1,1,18,1,2,3,...,1,3,2,2,0,1,1,0,0,0
1,3,47,2U,5,1,1,18,1,3,4,...,0,1,1,2,0,0,1,0,0,0
2,3,47,2U,5,1,1,18,1,4,5,...,4,1,1,4,2,0,0,0,0,0
3,3,47,2U,5,1,1,18,1,5,6,...,0,4,2,1,0,0,0,1,0,0
4,3,47,2U,5,1,1,18,1,6,7,...,1,0,2,1,2,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6131,3,47,7R,75,1,1,20,12,14,2,...,32,26,8,5,11,2,3,1,7,0
6132,3,47,7R,75,5,1,20,12,3,5,...,18,24,7,8,7,6,6,1,1,0
6133,3,47,7R,75,5,1,20,12,7,2,...,22,14,2,13,6,3,2,1,1,0
6134,3,47,7R,75,5,1,20,12,8,3,...,43,21,11,8,7,3,4,0,1,0
6135,3,47,7R,75,5,1,20,12,14,2,...,17,21,10,6,7,4,1,2,8,0

In [28]:
fwf_df.to_csv('fwf.csv')

In [29]:
import pandas as pd

files = ['TN121.VOL',
         'TN221.VOL',
         'TN321.VOL',
         'TN421.VOL',
         'TN521.VOL',
         'TN621.VOL',
         'TN721.VOL',
         'TN821.VOL',
         'TN921.VOL',
         'TN1021.VOL',
         'TN1121.VOL',
         'TN1221.VOL',
         'TN122.VOL',
         'TN222.VOL',
         'TN322.VOL',
         'TN422.VOL',
         'TN522.VOL',
         'TN622.VOL',
         'TN722.VOL',
         'TN822.VOL',
         'TN922.VOL',
         'TN1022.VOL',
         'TN1122.VOL',
         'TN1222.VOL']

pipe_list = []

# Loop over the files
for file in files:

    pipe_df = pd.read_csv(file, delimiter='|')

    pipe_list.append(pipe_df)
    
pipe_df = pd.concat(pipe_list)

In [30]:
pipe_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,2U,5,1,1,21,1,1,6,...,132,121,112,114,62,48,23,24,7,0
1,3,47,2U,5,1,1,21,1,2,7,...,228,181,152,130,117,82,32,24,9,0
2,3,47,2U,5,1,1,21,1,3,1,...,152,123,131,93,51,34,15,11,4,0
3,3,47,2U,5,1,1,21,1,4,2,...,282,379,305,151,69,47,13,18,3,0
4,3,47,2U,5,1,1,21,1,5,3,...,263,360,299,162,97,37,19,17,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,3,47,3U,553,5,2,22,12,27,3,...,547,537,521,361,238,159,118,67,46,0
4120,3,47,3U,553,5,2,22,12,28,4,...,560,583,602,489,277,200,143,84,54,0
4121,3,47,3U,553,5,2,22,12,29,5,...,579,576,566,484,302,184,156,99,53,0
4122,3,47,3U,553,5,2,22,12,30,6,...,652,628,594,497,380,195,141,128,59,0
4123,3,47,3U,553,5,2,22,12,31,7,...,535,481,422,401,270,213,161,117,83,0

In [31]:
# Concatenate the dataframes along the rows
counts_df = pd.concat([fwf_df, pipe_df])
counts_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,2U,5,1,1,18,1,2,3,...,1,3,2,2,0,1,1,0,0,0
1,3,47,2U,5,1,1,18,1,3,4,...,0,1,1,2,0,0,1,0,0,0
2,3,47,2U,5,1,1,18,1,4,5,...,4,1,1,4,2,0,0,0,0,0
3,3,47,2U,5,1,1,18,1,5,6,...,0,4,2,1,0,0,0,1,0,0
4,3,47,2U,5,1,1,18,1,6,7,...,1,0,2,1,2,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,3,47,3U,553,5,2,22,12,27,3,...,547,537,521,361,238,159,118,67,46,0
4120,3,47,3U,553,5,2,22,12,28,4,...,560,583,602,489,277,200,143,84,54,0
4121,3,47,3U,553,5,2,22,12,29,5,...,579,576,566,484,302,184,156,99,53,0
4122,3,47,3U,553,5,2,22,12,30,6,...,652,628,594,497,380,195,141,128,59,0
4123,3,47,3U,553,5,2,22,12,31,7,...,535,481,422,401,270,213,161,117,83,0

In [32]:
counts_df.to_csv('traffic.csv')

In [33]:
j = [3, 33, 23, 474, 4, 555]

for i in j:

    station_df = counts_df.loc[counts_df['station_id'].isin(j)]
    
station_df.to_csv('traffic.csv')

In [34]:
station_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
883,3,47,4R,23,1,1,18,1,31,4,...,388,416,381,290,170,109,73,53,51,0
884,3,47,4R,23,1,1,18,1,19,6,...,437,426,444,363,204,175,112,78,57,0
885,3,47,4R,23,1,1,18,1,18,5,...,352,366,380,258,123,102,67,59,48,0
886,3,47,4R,23,1,1,18,1,17,4,...,303,259,279,170,100,75,61,32,39,0
887,3,47,4R,23,1,1,18,1,16,3,...,163,177,183,107,63,39,37,26,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,3,47,1R,474,7,2,22,12,27,3,...,370,374,344,202,107,84,57,39,32,0
3364,3,47,1R,474,7,2,22,12,28,4,...,368,361,348,196,124,94,72,39,29,0
3365,3,47,1R,474,7,2,22,12,29,5,...,403,407,402,273,154,77,76,50,36,0
3366,3,47,1R,474,7,2,22,12,30,6,...,434,429,365,257,170,107,93,52,38,0
3367,3,47,1R,474,7,2,22,12,31,7,...,231,253,218,145,96,78,61,31,23,0

In [6]:
station_df = pd.read_csv('traffic.csv', low_memory=False)

In [9]:
day_df = station_df.groupby('day_of_week').sum()

In [10]:
day_df

,Unnamed: 0,record_type,state_code,travel_dir,travel_lane,year_record,month_record,day_record,hour_00,hour_01,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
day_of_week,,,,,,,,,,,,,,,,,,,,,
1,143681852,141960,2224040,194670,80579,956782,318447,737550,6481363,5162589,...,22933154,22289725,21039946,18248160,15696116,12547577,10366922,8328912,6107920,0
2,144171517,143334,2245566,196100,81286,965366,320366,747158,5023856,4389112,...,27017354,27750162,25341797,19886548,15846165,12818301,10321291,8394755,6696856,0
3,144663638,143751,2252099,196871,81511,968139,321696,750850,5362884,4602737,...,27514381,28095067,25995198,20259726,16062192,13290713,10848821,8922375,6961564,0
4,145781317,144867,2269583,198247,82174,975732,323071,751317,5981844,5359285,...,28200681,28697220,26816540,21515866,17001806,14109329,11659486,9245486,7519963,0
5,147195513,146022,2287678,199954,82886,983845,326549,761346,5856424,5196900,...,28642670,29075693,27077688,21791254,17817855,14443516,11766141,9772336,7563862,0
6,147461757,146601,2296749,200675,83273,987921,326328,753758,6219457,5417858,...,30473715,30375312,28587916,24019957,20265521,16988720,14389602,12017353,9813958,0
7,146352609,145635,2281615,199453,82620,981589,323578,752331,7674422,6369587,...,24507851,23661022,22163274,20145963,17954497,15410455,13302787,11361190,9346807,0

In [13]:
day_df.to_csv('day_count.csv')

In [16]:
segments_df = pd.read_csv('traffic_data.csv', low_memory=False)
segments_df

,Unnamed: 0,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,...,hour_16,hour_17,hour_18,Evening,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,0,3,47,1R,36,3,1,20,12,3,...,226,188,135,794,101,89,68,44,38,0
1,1,3,47,1R,36,3,1,20,12,4,...,257,213,139,885,115,104,63,33,24,0
2,2,3,47,1R,36,3,1,20,12,5,...,230,217,173,869,130,100,106,58,60,0
3,3,3,47,1R,36,3,1,20,12,6,...,262,250,166,971,124,84,63,32,30,0
4,4,3,47,1R,36,3,1,20,12,7,...,167,126,102,576,92,56,37,29,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10255,4119,3,47,3U,553,5,2,22,12,27,...,537,521,361,1966,238,159,118,67,46,0
10256,4120,3,47,3U,553,5,2,22,12,28,...,583,602,489,2234,277,200,143,84,54,0
10257,4121,3,47,3U,553,5,2,22,12,29,...,576,566,484,2205,302,184,156,99,53,0
10258,4122,3,47,3U,553,5,2,22,12,30,...,628,594,497,2371,380,195,141,128,59,0
10259,4123,3,47,3U,553,5,2,22,12,31,...,481,422,401,1839,270,213,161,117,83,0