In [1]:
import pandas as pd

In [18]:
import pandas as pd
fwf_df = pd.read_fwf('TN118.VOL', 
                     widths=[1,2,2,6,1,1,2,2,2,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1], 
                     ignore_index = True)

fwf_df.columns = ['record_type', 
                  'state_code', 
                  'f_system', 
                  'station_id', 
                  'travel_dir',
                  'travel_lane', 
                  'year_record', 
                  'month_record', 
                  'day_record',
                  'day_of_week', 
                  'hour_00', 
                  'hour_01', 
                  'hour_02', 
                  'hour_03', 
                  'hour_04',
                  'hour_05', 
                  'hour_06', 
                  'hour_07', 
                  'hour_08', 
                  'hour_09', 
                  'hour_10',
                  'hour_11', 
                  'hour_12', 
                  'hour_13', 
                  'hour_14', 
                  'hour_15', 
                  'hour_16',
                  'hour_17', 
                  'hour_18', 
                  'hour_19', 
                  'hour_20', 
                  'hour_21', 
                  'hour_22',
                  'hour_23', 
                  'restrictions']

fwf_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,2U,5,1,1,18,1,2,3,...,1,3,2,2,0,1,1,0,0,0
1,3,47,2U,5,1,1,18,1,3,4,...,0,1,1,2,0,0,1,0,0,0
2,3,47,2U,5,1,1,18,1,4,5,...,4,1,1,4,2,0,0,0,0,0
3,3,47,2U,5,1,1,18,1,5,6,...,0,4,2,1,0,0,0,1,0,0
4,3,47,2U,5,1,1,18,1,6,7,...,1,0,2,1,2,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3629,3,47,3U,540,5,2,18,1,11,5,...,458,517,440,291,246,138,99,93,63,0
3630,3,47,3U,540,5,2,18,1,12,6,...,489,495,370,222,212,156,225,121,93,0
3631,3,47,3U,540,5,2,18,1,16,3,...,308,221,168,138,118,73,55,49,39,0
3632,3,47,3U,540,5,2,18,1,15,2,...,425,406,382,245,186,131,106,72,60,0
3633,3,47,3U,540,5,2,18,1,14,1,...,220,174,219,159,132,115,80,96,63,0

In [29]:
import pandas as pd

# Create an empty dataframe
fwf_df = pd.DataFrame()

files = ['TN118.VOL',
         'TN218.VOL',
         'TN318.VOL',
         'TN418.VOL',
         'TN518.VOL',
         'TN618.VOL',
         'TN718.VOL',
         'TN818.VOL',
         'TN918.VOL',
         'TN1018.VOL',
         'TN1118.VOL',
         'TN1218.VOL',
         'TN119.VOL',
         'TN219.VOL',
         'TN319.VOL',
         'TN419.VOL',
         'TN519.VOL',
         'TN619.VOL',
         'TN719.VOL',
         'TN819.VOL',
         'TN919.VOL',
         'TN1019.VOL',
         'TN1119.VOL',
         'TN1219.VOL',
         'TN120.VOL',
         'TN220.VOL',
         'TN320.VOL',
         'TN420.VOL',
         'TN520.VOL',
         'TN620.VOL',
         'TN720.VOL',
         'TN820.VOL',
         'TN920.VOL',
         'TN1020.VOL',
         'TN1120.VOL',
         'TN1220.VOL']

# Loop over the files
#for file in files:
    
    # Read the file into a dataframe
fwf_df = pd.concat([pd.read_fwf(file,
                                widths=[1,2,2,6,1,1,2,2,2,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1],
                                ignore_index = True) for file in files])

#df = pd.concat([pd.read_fwf(filename, header=None) for filename in filenames])
                       
                       
fwf_df.columns = ['record_type',
                  'state_code',
                  'f_system',
                  'station_id', 
                  'travel_dir',
                  'travel_lane',
                  'year_record',
                  'month_record',
                  'day_record',
                  'day_of_week',
                  'hour_00', 
                  'hour_01', 
                  'hour_02', 
                  'hour_03', 
                  'hour_04',
                  'hour_05',
                  'hour_06', 
                  'hour_07',
                  'hour_08',
                  'hour_09',
                  'hour_10',
                  'hour_11',
                  'hour_12',
                  'hour_13',
                  'hour_14',
                  'hour_15',
                  'hour_16',
                  'hour_17',
                  'hour_18',
                  'hour_19',
                  'hour_20',
                  'hour_21',
                  'hour_22',
                  'hour_23',
                  'restrictions']

fwf_df

,3,47,2U,000005,1,1.1,18,01,01.1,2,...,00329,00328,00348,00216.1,00011,00168,00182,00232.1,00209,00082
0,3,47,2U,5.0,1,1.0,18.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,47,2U,5.0,1,1.0,18.0,1.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,47,2U,5.0,1,1.0,18.0,1.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,2U,5.0,1,1.0,18.0,1.0,5.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,47,2U,5.0,1,1.0,18.0,1.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6131,3,47,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,9.0,8.0,32.0,26.0,2.0
6132,3,47,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,11.0,14.0,18.0,24.0,6.0
6133,3,47,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,17.0,15.0,22.0,14.0,3.0
6134,3,47,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,16.0,10.0,43.0,21.0,3.0
6135,3,47,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,14.0,9.0,17.0,21.0,4.0

In [32]:
import pandas as pd

files = ['TN118.VOL',
         'TN218.VOL',
         'TN318.VOL',
         'TN418.VOL',
         'TN518.VOL',
         'TN618.VOL',
         'TN718.VOL',
         'TN818.VOL',
         'TN918.VOL',
         'TN1018.VOL',
         'TN1118.VOL',
         'TN1218.VOL',
         'TN119.VOL',
         'TN219.VOL',
         'TN319.VOL',
         'TN419.VOL',
         'TN519.VOL',
         'TN619.VOL',
         'TN719.VOL',
         'TN819.VOL',
         'TN919.VOL',
         'TN1019.VOL',
         'TN1119.VOL',
         'TN1219.VOL',
         'TN120.VOL',
         'TN220.VOL',
         'TN320.VOL',
         'TN420.VOL',
         'TN520.VOL',
         'TN620.VOL',
         'TN720.VOL',
         'TN820.VOL',
         'TN920.VOL',
         'TN1020.VOL',
         'TN1120.VOL',
         'TN1220.VOL']

# Loop over the files
for file in files:

    fwf_df = pd.read_fwf(file,
                         widths=[1,2,2,6,1,1,2,2,2,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1],
                         ignore_index = True)
                       
fwf_df.columns = ['record_type',
                  'state_code',
                  'f_system',
                  'station_id', 
                  'travel_dir',
                  'travel_lane',
                  'year_record',
                  'month_record',
                  'day_record',
                  'day_of_week',
                  'hour_00', 
                  'hour_01', 
                  'hour_02', 
                  'hour_03', 
                  'hour_04',
                  'hour_05',
                  'hour_06', 
                  'hour_07',
                  'hour_08',
                  'hour_09',
                  'hour_10',
                  'hour_11',
                  'hour_12',
                  'hour_13',
                  'hour_14',
                  'hour_15',
                  'hour_16',
                  'hour_17',
                  'hour_18',
                  'hour_19',
                  'hour_20',
                  'hour_21',
                  'hour_22',
                  'hour_23',
                  'restrictions']

fwf_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,1R,36,3,1,20,12,3,5,...,245,226,188,135,101,89,68,44,38,0
1,3,47,1R,36,3,1,20,12,4,6,...,276,257,213,139,115,104,63,33,24,0
2,3,47,1R,36,3,1,20,12,5,7,...,249,230,217,173,130,100,106,58,60,0
3,3,47,1R,36,3,1,20,12,6,1,...,293,262,250,166,124,84,63,32,30,0
4,3,47,1R,36,3,1,20,12,7,2,...,181,167,126,102,92,56,37,29,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6131,3,47,7R,75,1,1,20,12,14,2,...,32,26,8,5,11,2,3,1,7,0
6132,3,47,7R,75,5,1,20,12,3,5,...,18,24,7,8,7,6,6,1,1,0
6133,3,47,7R,75,5,1,20,12,7,2,...,22,14,2,13,6,3,2,1,1,0
6134,3,47,7R,75,5,1,20,12,8,3,...,43,21,11,8,7,3,4,0,1,0
6135,3,47,7R,75,5,1,20,12,14,2,...,17,21,10,6,7,4,1,2,8,0

In [33]:
import pandas as pd

files = ['TN121.VOL',
         'TN221.VOL',
         'TN321.VOL',
         'TN421.VOL',
         'TN521.VOL',
         'TN621.VOL',
         'TN721.VOL',
         'TN821.VOL',
         'TN921.VOL',
         'TN1021.VOL',
         'TN1121.VOL',
         'TN1221.VOL',
         'TN122.VOL',
         'TN222.VOL',
         'TN322.VOL',
         'TN422.VOL',
         'TN522.VOL',
         'TN622.VOL',
         'TN722.VOL',
         'TN822.VOL',
         'TN922.VOL',
         'TN1022.VOL',
         'TN1122.VOL',
         'TN1222.VOL']

# Loop over the files
for file in files:

    pipe_df = pd.read_csv(file, delimiter='|')

pipe_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,3U,3,1,1,22,12,1,5,...,766,897,791,669,522,419,332,224,151,0
1,3,47,3U,3,1,1,22,12,2,6,...,880,781,786,601,451,501,904,938,336,0
2,3,47,3U,3,1,1,22,12,3,7,...,941,930,884,864,734,619,546,470,334,0
3,3,47,3U,3,1,1,22,12,4,1,...,741,780,724,631,523,388,295,220,117,0
4,3,47,3U,3,1,1,22,12,5,2,...,687,774,662,481,412,284,197,128,99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,3,47,3U,553,5,2,22,12,27,3,...,547,537,521,361,238,159,118,67,46,0
4120,3,47,3U,553,5,2,22,12,28,4,...,560,583,602,489,277,200,143,84,54,0
4121,3,47,3U,553,5,2,22,12,29,5,...,579,576,566,484,302,184,156,99,53,0
4122,3,47,3U,553,5,2,22,12,30,6,...,652,628,594,497,380,195,141,128,59,0
4123,3,47,3U,553,5,2,22,12,31,7,...,535,481,422,401,270,213,161,117,83,0

In [34]:
# Concatenate the dataframes along the rows
counts_df = pd.concat([fwf_df, pipe_df])
counts_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,1R,36,3,1,20,12,3,5,...,245,226,188,135,101,89,68,44,38,0
1,3,47,1R,36,3,1,20,12,4,6,...,276,257,213,139,115,104,63,33,24,0
2,3,47,1R,36,3,1,20,12,5,7,...,249,230,217,173,130,100,106,58,60,0
3,3,47,1R,36,3,1,20,12,6,1,...,293,262,250,166,124,84,63,32,30,0
4,3,47,1R,36,3,1,20,12,7,2,...,181,167,126,102,92,56,37,29,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,3,47,3U,553,5,2,22,12,27,3,...,547,537,521,361,238,159,118,67,46,0
4120,3,47,3U,553,5,2,22,12,28,4,...,560,583,602,489,277,200,143,84,54,0
4121,3,47,3U,553,5,2,22,12,29,5,...,579,576,566,484,302,184,156,99,53,0
4122,3,47,3U,553,5,2,22,12,30,6,...,652,628,594,497,380,195,141,128,59,0
4123,3,47,3U,553,5,2,22,12,31,7,...,535,481,422,401,270,213,161,117,83,0

In [35]:
counts_df.to_csv('traffic.csv')